---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button';
import '@/styles/globals.css';
---

---

<Layout title="Welcome to Astro.">
	<main>
      <Button href='aaa' hierarchy='primary' >aaaa</Button>
	</main>
</Layout>
